body {
      background-image: url('https://cdn.glitch.global/8cc87ae8-2401-45b0-98ad-907c24699c04/pluh.png?v=1731525606634');
      background-repeat: no-repeat;
      background-attachment: fixed;  
      background-size: cover;
      font-family: "Courier New", monospace;
}
 h1 {
   color: #c4ff29;
        text-align: center;
      }
  h5 {
    font-weight: bold;
    color: #70ffff;

  }
      .content {
         opacity: 0.9;
        max-width: 600px;
        margin: auto;
        background: #0e2d63;
        padding: 10px;
      }
td,
th {
         opacity: 2;
        border: 1px solid #000000;
        text-align: left;
        padding: 8px;
        vertical-align: top;
}
      a:link,
      a:visited {
        background-color: #c4ff29;
        color: #0e2d63;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }

      a:hover,
      a:active {
        background-color: #94c90a;
      }


 table,
      th,
      td {
        border: 6px solid #0e2d63;
        border-collapse: collapse;
      }

      
      td {
        background-color: #2956a3;
      }
b {
  color: #c4ff29;
}
      dt {
        color: #94c90a;
        
      }

h6 {
  color: #61820a;
        text-align: center;
      }
h7 {
  text-align: center;

  color: #c4ff29;
  font-weight: bold;
}



audio {
    padding: 0px 60px 0px 60px;
    width: 80%;
    height: 25px;
}
img {
  border: 5px solid #0e2d63;
}
marquee {
  background-color: #c4ff29;
  font-weight: bold;
  color: #0e2d63;
}