body {
      background-color: #074c7d;
      font-family: "Courier New", monospace;
}
 h1 {
   color: #e83ca3;
        text-align: center;
      }
  h5 {
    font-weight: bold;
    color: #e83ca3;

  }
      .content {
        max-width: 600px;
        margin: auto;
        background: #06273b;
        padding: 10px;
      }
td,
th {
        border: 1px solid #000000;
        text-align: left;
        padding: 8px;
        vertical-align: top;
}
      a:link,
      a:visited {
        background-color: #00b7ff;
        color: #06273b;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }

      a:hover,
      a:active {
        background-color: #e83ca3;
      }


 table,
      th,
      td {
        border: 6px solid #06273b;
        border-collapse: collapse;
      }

      
      td {
        background-color: #063557;
      }
b {
  color: #8ee0e6;
}
      dt {
        color: #e83ca3;
        
      }

h6 {
  color: #e83ca3;
        text-align: center;
      }
h7 {
  color: #e83ca3;
}


audio {
    padding: 0px 60px 0px 60px;
    width: 80%;
    height: 25px;
}
img {
  border: 5px solid #084c7c;
}