body {
      background-image: url(https://cdn.glitch.global/8cc87ae8-2401-45b0-98ad-907c24699c04/rottweilers?v=1721070579574);
      font-family: "Courier New", monospace;
}

      .content {
        max-width: 600px;
        margin: auto;
        background: #0a1b21;
        padding: 10px;
      }
td,
th {
        border: 1px solid #000000;
        text-align: left;
        padding: 8px;
        vertical-align: top;
}
      a:link,
      a:visited {
        background-color: #ff5900;
        color: #0a1b21;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }

      a:hover,
      a:active {
        background-color: #063557;
      }


 table,
      th,
      td {
        border: 6px solid #0a1b21;
        border-collapse: collapse;
      }

      
      td {
        background-color: #063557;
      }
b {
  color: #ebbf91;
}
 h1 {
   color: #28abfc;
        text-align: center;
      }
  h5 {
    color: #1bb49d;
    font-weight: bold;
  }
      dt {
        color: #1bb49d;
        
      }

h6 {
  color: #28abfc;
        text-align: center;
      }
h7 {
  color: #ffd738;
}

h8 {
  color: #e6462e;
}

h9 {
  color: #8ce841;
}

h10 {
  color: #1883db;
}
h11 {
  color: black;
}
audio {
    padding: 0px 60px 0px 60px;
    width: 80%;
    height: 25px;
}